* {
  margin: 0;
}
.app__headerImage {
  width: 120px;
  height: 70px;
  object-fit: contain;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}
.app__header {
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}
.app__signup{
  display:flex;
  flex-direction: column;
  
}